body { 
font-family : Verdana, Arial, Helvetica, Sans-serif;
color : #FFFFFF;
background-color : #000000;
line-height: 1.2em;
} 
h1, h2, h3, h4, h5, h6 {
text-align: center;
}
ol, li {
list-style-position: outside;
}
ul {
list-style-type: square;
padding: 20px;
margin-bottom: 30px;
border-top: 1px solid transparent
}